

.sualCavab {
  border: 2px solid black;
  border-radius: 10px;
  margin-bottom: 20px; 
  position: relative;
}
.sual {
padding: 20px;
font-weight: bold;
}
.cavab{
  padding: 20px;
  transition: 0.6s;
  border-top: 1px solid black;
}
.sualCavab button {
  position: absolute;
  top: 20px;
  right: 15px;
}
.index{
  margin-right: 10px;
}

.gizlet{
  transition: 0.4s;
}

.slider {
  margin: 20px auto;
  max-width: 1200px;
}

.swiper-backface-hidden .swiper-slide {
  background-color: black;
  color: white;
  height: 200px;
} 
